* {
    margin: 0;
    padding: 0;
    border: none;
}

a, a:hover {
    text-decoration: none;
}


ul li {
    list-style: none;
}

main {
    background: linear-gradient(104.6deg, #000548 24.21%, #151C74 88.91%);

}

#main {
    display: flex;
}


.sidebar {
    background: linear-gradient(104.6deg, #000548 24.21%, #151C74 88.91%);
    min-height: 100vh;
    width: 20%;
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;

}

nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-top:150px ;
}

.nav-item {
    margin: 20px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;

}


.table-one{
    width: 70px;
    height: 26px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}

/*OREDERS*/

.header-block {
    display: flex;
    align-items: center;
}
.header-en-block h1 {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 10px;
}
.header-en-block h2 {
    font-weight: 500;
    font-size: 12px;
    color: #959595;
    margin-left: 10px;
}
.bottom-block h1 {
    font-weight: 400;
    font-size: 27px;
    color: #FFFFFF;
}
.bottom-block button {
    width: 116px;
    height: 35px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background: rgba(250, 250, 250, 0);
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.bottom-block {
    display: flex;
    align-items: center;
    margin: 20px 20px;
}

/*OREDERS*/
.orders{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 20px;


}
.general-block {
    width:1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 15px;
}
.header-block {
    display: flex;
    align-items: center;
    padding: 17px 25px;
}
.header-en-block h1 {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 10px;
}
.header-en-block h2 {
    font-weight: 500;
    font-size: 12px;
    color: #959595;
    margin-left: 10px;
}
.bottom-block h1 {
    font-weight: 400;
    font-size: 27px;
    color: #FFFFFF;

}
.bottom-block button {
    width: 116px;
    height: 35px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background: rgba(250, 250, 250, 0);
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 10px;

}
.bottom-block {
    display: flex;
    align-items: center;
    margin: 0  25px;
}
.blocks {
    width: 220px;
    height: 143px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 30px 0;
}