* {
    margin: 0;
    padding: 0;
    border: none;
}

a, a:hover {
    text-decoration: none;
}


ul li {
    list-style: none;
}

main {
    background: linear-gradient(104.6deg, #000548 24.21%, #151C74 88.91%);
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sidebar {
    background: linear-gradient(104.6deg, #000548 24.21%, #151C74 88.91%);
    min-height: 100vh;
    width: 20%;
}
